{
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"root": true,
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": "latest"
	},
	"ignorePatterns": ["node_modules/"],
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
